body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

/* Header and Navigation Styles */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    font-family: 'Arial', sans-serif;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    margin: 0;
    padding: 0;
}

.nav-links a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
    font-family: 'Arial', sans-serif;
}

.nav-links a:hover {
    color: #ff5722;
}

/* Order History Styles */
.order-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
}

.order-details {
    margin-bottom: 10px;
}

.order-details p {
    margin: 5px 0;
}

/* Style the text before and after the colon */
.order-details p strong {
    color: black; /* Text on the left side of the colon */
}

.order-details p::after {
    content: ':';
    color: black; /* Colon color */
    margin-right: 20px; /* Space between colon and text on the right side */
}

/* Style the text on the right side of the colon */
.order-details p:not(:last-child)::after {
    color: white; /* Text on the right side of the colon */
}

.status-pending {
    color: orange; 
}

.status-approved {
    color: green; 
}

.status-completed {
    color: blue; 
}

.status-expired {
    color: red; 
}
.view-invoice-btn {
    margin-top: 10px;
    background-color: #b1abab;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Arial', sans-serif;
    border-radius: 2%;
}

.view-invoice-btn:hover {
    background-color: #ab7a5f;
}


