/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styling for the entire page */
body {
    font-family: var(--font-family-1);
    background-color: var(--color-secondary-1);
    color: var(--color-black-1);
    margin: 10px; /* Add margin */
    padding: 20px; /* Add padding */
}

/* Header styles */
header {
    background-color: #ab7a5f;
    color: var(--color-white);
    padding: 1rem 0;
}

/* Navigation styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

.logo {
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 1.5rem;
}

.nav-links a {
    text-decoration: none;
    color: var(--color-white);
    font-weight: bold;
    transition: color var(--transition-1);
}

.nav-links a:hover {
    color: var(--color-primary-1);
}

#productContainer {
    display: flex;
    flex-direction: row;
}

.product-box {
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    justify-content: center;
    margin-bottom: 1.5rem;
    padding: 1.5rem;
    cursor: pointer;
    margin: 2rem;
}

.product-box img {
    max-width: 280px; /* Set the maximum width to make the images smaller */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 1rem;
}

.product-box a {
    text-decoration: none;
    color: var(--color-primary-1);
}

.product-box a:hover {
    color: var(--color-primary-3);
}

/* Footer styles */
footer {
    background-color: #ab7a5f;
    color: var(--color-white);
    padding: 1rem 0;
    text-align: center;
    /*position: fixed; /* Set the footer's position to fixed */
    bottom: 0; /* Position it at the bottom of the viewport */
    left: 0;
    right: 0;
}

.footer-content {
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.product-box img {
    max-width: 280px; /* Set the maximum width to make the images smaller */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 1rem;
}








