/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: #61A5C2; */
/* background-color: rgba(0, 0, 0, 0.8); */
}

header {
    /* background-color:#a7e5a1; */
    background-color:green;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    /* background-image: url('imga.avif'); */
      /* background-color: #014F86; */
      background-color: rgba(0, 0, 0, 0.8);

}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.container {
    max-width: 800px;
    margin: 20px auto; /* Added margin to center the container */
    padding: 20px;
    background-color: #fefefe; /* Off-white background color */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Form styles */
.quote-form {
    padding: 20px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px; /* Increased margin for labels */
}
.navbar {
  text-align: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline;
    margin-right: 20px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}


input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"],
input[type="date"],
textarea {
    width: 100%;
    padding: 12px; /* Increased padding for input fields */
    margin-bottom: 20px; /* Increased margin for input fields */
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s;
}

input[type="text"]:disabled,
input[type="tel"]:disabled,
input[type="email"]:disabled,
input[type="password"]:disabled,
input[type="date"]:disabled,
textarea:disabled {
    background-color: #f0f0f0;
    color: #333;
    cursor: not-allowed;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
textarea:focus {
    border-color: #ff5722; /* Brownish orange border color on focus */
}

button {
    background-color: #ff5722; /* Brownish orange background color */
    color: #fff;
    padding: 15px 30px; /* Increased padding for buttons */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: rgba(0, 0, 0, 0.8);

}

button:hover {
    background-color: #ff7043; /* Slightly lighter brownish orange on hover */
}

/* Custom styling for disabled button */
button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .quote-form {
        padding: 10px;
    }
}
